---
title: "Design & Integration Tools"
layout: page
description: "A collection of Unity UI systems designed to improve iteration speed, accessibility, and design fidelity through close collaboration with artists and UX designers."
thumbnail: "/assets/img/work/design-tools/data-binders.gif"
permalink: /professional-case-studies/design-tools/
order: 3
parent: professional-case-studies
---

{% include accordion.js %}
{% include badge-handler.js %}

<div class="badges" style="padding-bottom: 20px">
  <div class="badge-wrapper" style="background: #000000">
    <img src="https://img.shields.io/badge/Unity-000000?style=for-the-badge&logo=unity" alt="Unity" class="no-lightbox">
  </div>
  <div class="badge-wrapper" style="background: #239120">
    <img src="https://img.shields.io/badge/C%23-239120?style=for-the-badge&logo=csharp&logoColor=white" alt="C#" class="no-lightbox">
  </div>
  <div class="badge-wrapper" style="background: #000000">
    <img src="https://img.shields.io/badge/JSON-000000?style=for-the-badge&logo=json&logoColor=white" alt="JSON" class="no-lightbox">
  </div>
  <div class="badge-wrapper" style="background: #007ACC">
    <img src="https://img.shields.io/badge/HLSL-007ACC?style=for-the-badge" alt="HLSL" class="no-lightbox">
  </div>
</div>

<p><strong>Role</strong>: Development & Integration Lead<br /><strong>Company</strong>: Astucemedia</p>

<hr />

<p>
  A collection of UI systems and tools, built through close collaboration with artists and UX designers, designed to improve iteration speed, accessibility, and design fidelity in Unity.
</p>

<p>
  Each section below summarizes a real tool used in production. <span class="emphassis"><strong>Expand a card</strong></span> below to explore the design challenges, technical approach, and resulting impact.
</p>

<div class="portfolio-card">
  <details style="padding-left: 0.75em; padding-right: 0.75em">
    <summary class="details-content">
      <div class="summary-text">
        <span class="details-title">No-Code Data Binder System</span><br>
        A reusable MVVM-based (Model-View-ViewModel) UI binding framework that eliminated hard-coded UI logic and reduced iteration time from days to hours.
      </div>

      <div class="details-image-wrapper">
        <img src="/assets/img/work/design-tools/data-binders.gif" alt="No-Code Data Binder System" class="details-image">
        <span class="zoom-icon fa-solid fa-magnifying-glass-plus"></span>
      </div>
    </summary>
    <div class="details-body">
      <hr />
      <div class="slider">
        <button class="arrow left">‹</button>

        <div class="slider-viewport">
          <div class="slider-track">
            <section>
              <h2>Outcome</h2>
              <p>
                Enabled designers to build and modify complex data-driven UI without touching code, reducing iteration cycles from days to hours while improving stability.
              </p>
              <ul>
                <li><strong>Before ➙</strong> days of development time with extra QA required to catch bugs and issues.</li>
                <li><strong>After ➙</strong> hours of integration time with next to zero QA required since design and data modifications resulted in zero changes to code.</li>
              </ul>
            </section>
            <section>
              <h2>Responsibilities</h2>
              <ul>
                <li>Designed the code architecture for a component-based Data Binder system with a "No-code" requirement during implementation.</li>
                <li>Determined and prioritized needed components with a focus on scalability.</li>
                <li>Built modular, data-binder components for various unity UGUI components.</li>
                <li>Built a single point of entry component for binding multiple data binder components to a single JSON payload exposed through a single, function call.</li>
                <li>Built a single point of entry component for generating data binder prefabs from JSON array data requiring a single function call upon implementation.</li>
              </ul>
            </section>
            <section>
              <h2>Challenge</h2>
              <p>
                Creating data-driven graphics generally involves the manual coding of data mapped to various serialized components.
                This makes the creation of graphics a very programmer-first approach and is not very agile.
              </p>
              <p>
                This also creates an ever-increasing code base to maintain as the graphics increase in scope and new graphics are created.
              </p>
            </section>
            <section>
              <h2>Solution</h2>
              <p>
                Use an MVVM approach with reusable components that define which JSON fields to bind to UGUI elements. These binders connect to a parent Data Binder, which supplies JSON data from the graphic class. The graphic class interacts only with the parent binder, keeping binding logic abstracted and enabling rapid, code-free modifications once implemented.
              </p>
            </section>
            <section>
              <h2>Key Learnings</h2>
              <ul>
                <li>Abstracting out data binding logic vastly helps reduce code complexity and improve scalability.</li>
                <li>
                  “No-Code” scalable systems like this allow for more agile development, reduced QA scope, and significantly reduce code maintenance and the risk of introducing new bugs.
                </li>
              </ul>
            </section>
          </div>
        </div>

        <button class="arrow right">›</button>
      </div>
      <hr />
    </div>
  </details>
</div>


<div class="portfolio-card">
  <details style="padding-left: 0.75em; padding-right: 0.75em">
    <summary class="details-content">
      <div class="summary-text">
        <span class="details-title">Image Blend Component & Shader</span><br>
        A custom Unity Image component and HLSL shader that brings standard creative-tool blend modes into UGUI, allowing designers to implement complex, dynamic image blending without visual compromises.
      </div>

      <div class="details-image-wrapper">
        <img src="/assets/img/work/design-tools/image-blend.gif" alt="Image Blend Component & Shader" class="details-image">
        <span class="zoom-icon fa-solid fa-magnifying-glass-plus"></span>
      </div>
    </summary>
    <div class="details-body">
      <hr />
      <div class="slider">
        <button class="arrow left">‹</button>

        <div class="slider-viewport">
          <div class="slider-track">
            <section>
              <h2>Outcome</h2>
              <p>
                Eliminated visual compromises between design tools and runtime UI by bringing industry-standard blend modes directly into Unity’s UGUI pipeline.
              </p>
              <ul>
                <li><strong>Before ➙</strong> design compromises were not uncommon when faced with dynamic blending scenarios, which reduced the designers creative freedom.</li>
                <li><strong>After ➙</strong> designers no longer needed to compromise their vision when working with dynamically blended content.</li>
              </ul>
            </section>
            <section>
              <h2>Responsibilities</h2>
              <ul>
                <li>Extended the Unity Image component to support a custom shader that allows for various standard image blend types found across all creative tools (darken, multiply, color burn, etc).</li>
                <li>Created a custom HLSL UI shader that supports the various image blend modes and maintains all basic image material functionality.</li>
              </ul>
            </section>
            <section>
              <h2>Challenge</h2>
              <p>
                Reproducing designs from tools like Figma or Photoshop can be limited by Unity’s lack of standard blend modes. While final blended images can sometimes be imported directly, dynamic layering often requires in‑engine work, leading to discrepancies between the original design and Unity’s output.
              </p>
            </section>
            <section>
              <h2>Solution</h2>
              <p>
                Extend the already provided Unity UGUI Image component to offer one that supports the various blend modes from standard creative software. By creating a shader that handles all of the blend modes math and defaulting the extended Image component with that shader, we enable the integrator to follow the same pipeline as the designer does, reducing implementation frictions and increasing design fidelity.
              </p>
            </section>
            <section>
              <h2>Key Learnings</h2>
              <ul>
                <li>
                  Removing creative friction through targeted technical solutions improves both product quality and cross-disciplinary collaboration.
                </li>
                <li>
                  Aligning engine capabilities with creative tools strengthens trust between designers and engineers.
                </li>
                <li>
                  <strong>Happy designer == Happy developer</strong>
                </li>
              </ul>
            </section>
          </div>
        </div>

        <button class="arrow right">›</button>
      </div>
      <hr />
    </div>
  </details>
</div>

<div class="portfolio-card">
  <details style="padding-left: 0.75em; padding-right: 0.75em">
    <summary class="details-content">
      <div class="summary-text">
        <span class="details-title">Event-Driven Contrast Ratio Calculator Component</span><br>
        An event-driven Unity component that automatically selects the most readable text color in dynamic backgrounds by calculating contrast ratios at runtime automating text accessibility and standardizing its approach.
      </div>

      <div class="details-image-wrapper">
        <img src="/assets/img/work/design-tools/contrast-ratio.gif" alt="Event-Driven Contrast Ratio Calculator Component" class="details-image">
        <span class="zoom-icon fa-solid fa-magnifying-glass-plus"></span>
      </div>
    </summary>
    <div class="details-body">
      <hr />
      <div class="slider">
        <button class="arrow left">‹</button>

        <div class="slider-viewport">
          <div class="slider-track">
            <section>
              <h2>Outcome</h2>
              <p>
                Ensured consistent text readability and accessibility across dynamic color scenarios without manual color mapping or additional QA overhead.
                <ul>
                  <li><strong>Before ➙</strong> certain dynamic color combinations would be unaccounted for during design which led to reduced accessibility and readability.</li>
                  <li><strong>After ➙</strong> designers no longer needed to manually map text/background color combinations, reducing design time and the risk of missed accessibility issues.</li>
                </ul>
            </section>
            <section>
              <h2>Responsibilities</h2>
              <ul>
                <li>
                  Designed and developed a clean, easy to implement component that could calculate the contrast ratio between the color of a background component and 2 text colors and pick the one that was most visible.
                </li>
                <li>
                  Designed the component to integrate non-invasively, requiring minimal changes to existing codebases.
                </li>
              </ul>
            </section>
            <section>
              <h2>Challenge</h2>
              <p>
                Accessibility is a very important aspect of strong UX and text readability is a top concern in this. When in a scenario where text background is dynamic in nature, it can be very difficult to successfully curate or maintain a mapping of text colors to background colors. If the scenario is dynamic enough that any color can be present, this becomes near impossible and many edge cases can lead to less accessible UI, while also leading to much larger code bases to handle all of these scenarios.
              </p>
            </section>
            <section>
              <h2>Solution</h2>
              <p>
                Create a component that calculates contrast ratios in line with WCAG accessibility guidelines between a dynamic background color and two possible text colors (light and dark variants), automatically selecting the most readable option. Since this component needs to be added to an existing code base, its implementation needs to be as non-invasive as possible so an event-driven approach is taken to reduce implementation overhead and offer implementation flexibility.
              </p>
            </section>
            <section>
              <h2>Key Learnings</h2>
              <ul>
                <li>
                  By automating the choice of text color to be used in a dynamic color scenario to ensure accessibility always met or surpassed web content accessibility guidelines, the resulting UI was more consistently readable across various user bases (across the color blindness spectrum).
                </li>
                <li>
                  This also reduced the load on the designers who no longer needed to worry about creating various color combinations for each foreseeable situation.
                </li>
              </ul>
            </section>
          </div>
        </div>

        <button class="arrow right">›</button>
      </div>
      <hr />
    </div>
  </details>
</div>

<hr />

<h2>Try it Yourself</h2>
<div>
  <p>
    <a href="https://github.com/jglasspilon/UI-Design-Tools-Sample" target="_blank" rel="noopener noreferrer">
      Demo Github Repo <i class="fa-brands fa-github"></i>
    </a><br />

    <a href="https://github.com/jglasspilon/UI-Design-Tools-Sample/raw/refs/heads/main/DesignTools-Build.zip">
      Demo Build (Windows Only) <i class="fa-solid fa-download"></i>
    </a>
  </p>
</div>

