---
layout: default
title: Personal Projects
icon: fas fa-gamepad
collection: tabs
order: 3
permalink: /personal-projects/
---

<div class="content">
  <h1 class="dynamic-title">
    {{ page.title }}
  </h1>
</div>

<p>
  A collection of personal video game projects & prototypes, providing insight on my interests and technical capabilities.<br />
  <span class="emphasis"><strong>Select a project</strong></span>
  below to explore further details.
</p>

<div class="portfolio-grid">
  {% assign sorted = site["personal-projects"] | sort: "order" %}

  {% if sorted.size == 0 %}
  <p>Coming soon.</p>
  {% endif %}

  {% for project in sorted %}
  <a class="portfolio-card" href="{{ project.url | relative_url }}">
    <div class="portfolio-thumb">

      {% assign ext = project.thumbnail | split: '.' | last | downcase %}

      {% if ext == "mp4" or ext == "webm" or ext == "mov" %}
      <video src="{{ project.thumbnail | relative_url }}"
             autoplay
             loop
             muted
             playsinline></video>
      {% else %}
      <img src="{{ project.thumbnail | relative_url }}"
           alt="{{ project.title }}">
      {% endif %}

    </div>

    <div class="portfolio-info">
      <h3>{{ project.title }}</h3>
      <p>{{ project.description }}</p>
    </div>
  </a>
  {% endfor %}

</div>
